.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 0.25rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0.2rem 0.2rem);
  @media screen and (pointer: fine){
    border-radius: 1rem;
  }
}

.vignette {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interaction-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.cross {
  stroke: oklch(0.5 0.2256 17.63);
  stroke-width: 15;
}

.cross:hover {
  stroke: oklch(0.681 0.2256 17.63)
}

.button-remove {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: red;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 30%;
  top: 0.2rem;
  right: 0.2rem;
  @media screen and (pointer: fine){
    height: 2rem;
    width: 2rem;
    right: 0.5rem;
    top: 0.5rem;
  }
  background: transparent;
}

:host:hover{
  cursor: pointer;
  filter: drop-shadow(0 0 1rem rgba(0,200, 255, 0.5)) drop-shadow(0 0 0.5rem rgba(255,255,255, 0.5));
}

:host.selected{
  filter: drop-shadow(0 0 0.5rem rgb(0,200, 255)) drop-shadow(0 0 0.2rem rgb(255,255,255));

  @media screen and (pointer: fine) {
    filter: drop-shadow(0 0 1rem rgb(0,200, 255)) drop-shadow(0 0 0.5rem rgb(255,255,255));
  }
}

.selected{
  border: dashed red 10px;
}
