<div class="image-container">
  <img alt="" class="image" [src]="file()?.fileUrl"/>
</div>
@if (!success() && !loading()) {
  <form class="clothing-form" (submit)="onSubmit($event)">
    <select id="select-clothing-type" [formField]="form.clothingType" class="select-clothing-type">
      @for (clothingOption of clothingOptions; track clothingOption) {
        <option [value]="clothingOption">{{ clothingOption | titlecase }}</option>
      }
    </select>
    <input class="input" type="submit"/>
  </form>
}@else if (loading()){
  <div>Loading</div>
}@else{
  <div>Uploaded</div>
}
