@import "normalize.css";

html, body {
 font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #222;
  scrollbar-width: none;
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html, body {
 font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #222;
  scrollbar-width: none;
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}
