@if (!initialState())
{
  @if(activeImage()){
  <fp-outfit-metadata-form
    class="metadata-form"
    (submitted)="handleSubmitted($event)"
    [initialState]="initialState()"
    [clothing]="clothingStore.state()"
  />
  }
  <div class="panel center-panel" [class.active-selected]="activeImage()">
    @if (!fileHandler.files().length) {
      <fp-drop-zone class="drop-zone" (files)="handleDataTransfer($event)"/>
    } @else {
      @if (activeImage() && imagesMetadata().length) {
        <div class="modal-container">
          <img class="focused-image" src="{{activeImage()?.fileUrl}}" alt=""/>
        </div>
      }
    }
  </div>
}
@else if (initialState())
{
  <fp-outfit-metadata-form
    class="metadata-form"
    (submitted)="handleSubmitted($event)"
    [initialState]="initialState()"
    [clothing]="clothingStore.state()"
  />
  <div class="panel center-panel" [class.active-selected]="activeImage()">
    <div class="modal-container">
      <img class="focused-image" src="{{initialState()!.images[0].big ?? initialState()!.images[0].original}}" alt=""/>
    </div>
  </div>
}
