:host {
  --fieldset-background: oklch(80% 20% 350 / 1);
  width: 15rem;
  height: 25rem;
  background: black;
  color: white;
  max-height: 100%;
  overflow: auto;
}

.filter {
  height: 0;
  width: 0;
  visibility: hidden;
}

.metadata-form {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem;
  width: 100%;
}

.tag-cloud-fieldset {
  gap: 0.5rem;
}

.season-group {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.1rem;
}

.season-checkbox {
  display: flex;
  min-width: 2rem;
  width: 100%;
  height: 100%;
  min-height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.tag-cloud, .color-cloud {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  column-gap: 0.2rem;
  width: 100%;
}

.add-button {
  --base-beveled-button-color: #fd8db9;
  background-size: 4rem;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: 0;
  height: 2rem;
  border: none;
  color: white;
  cursor: pointer;
}


.modesty-fieldset {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  flex-flow: row nowrap;
}

.clothing-fieldset {
}

.clothing-group-container {
  color: black;
}

.clothing-group-name {
  margin: 0;
}

.clothing-group-elements-container {
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  @media screen and (pointer: fine){
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.clothing-button {
  display: none;
}
