.clothing-element-container {
  filter: saturate(0);
  border-radius: 0.5rem;
  overflow: hidden;
}

.clothing-element-container:has(.clothing-checkbox:checked) {
  transform: scale(105%);
  filter: saturate(1.2);
  border: solid 2px white;
}

.clothing-checkbox {
  display: none;
}

.clothing-label {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.clothing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clothing-button:checked ~ .clothing-group-elements-container {
  height: 0;
  overflow: hidden;
}
