:host{
  display: grid;
  grid-template-columns:repeat(2, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 1rem;
  @media screen and (min-width: 800px){
    grid-template-columns:repeat(3, minmax(200px, 1fr));
  }
}

.image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  overflow: hidden;
}
.vignette {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
