  @if (activeImage()) {
    <fp-outfit-metadata-form
      class="metadata-form"
      (submitted)="handleSubmitted($event)"
      [clothingInput]="clothingStore.state()"
    />
  }
  <div class="panel center-panel" [class.active-selected]="activeImage()">
    @if (!fileHandler.files().length) {
      <fp-drop-zone class="drop-zone" (files)="handleDataTransfer($event)"/>
    } @else {
      @if (activeImage() && imagesMetadata().length) {
        <div class="modal-container">
          <img class="focused-image" src="{{activeImage()?.fileUrl}}" alt=""/>
        </div>
      }
    }
  </div>
