@for (outfit of outfitStore.outfits(); track $index) {
  <div class="outfit-container">
    <div class="seasons">
      @if (outfit.seasons?.spring) {
        <fp-leaf-icon/>
      } @if (outfit.seasons?.summer) {
        <fp-sun-icon/>
      } @if (outfit.seasons?.autumn) {
        <fp-autumn-leaf-icon/>
      } @if (outfit.seasons?.winter) {
        <fp-snowflake-icon/>
      }
    </div>
    <div
      class="image-grid"
      [class.single-image-grid]="outfit.images?.length === 1"
      [class.two-images-grid]="outfit.images?.length === 2"
      [class.three-images-grid]="outfit.images?.length === 3"
    >
      @for (image of outfit.images; let i = $index, c = $count; track image) {
        <div
          class="image-container"
          [class.first-item]="c === 3 && i === 0"
          [class.last-visible]="i === 3"
          [class.stacked-hidden]="i > 3"
        >
          @if (i === 3 && c > 4) {
            <div class="last-overlay">
              {{ c - i - 1 }}+
            </div>
          }
          <img class="image" src="{{image.fileUrl}}" alt=""/>
        </div>
      }
    </div>
    <div class="tag-cloud">
      @for (tag of outfit.tags; track $index) {
        <fp-outfit-tag-control [value]="tag" [disabled]="true"/>
      }
    </div>
  </div>
}
