.season-container {
  display: flex;
  flex-flow: column nowrap;
}

.season-checkbox {
  display: flex;
  flex-grow: 1;
  height: 2rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.tag-cloud {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  column-gap: 0.2rem;
}
