<!--suppress AngularForBlockNonIterableVar -->
<form class="metadata-form" (keydown.enter)="$event.preventDefault()" (submit)="onSubmit($event)">
  <fp-styled-form-fieldset legend="season" class="fieldset season-fieldset">
    <div class="season-group">
      <fp-season-control class="season-checkbox" label="spring" (keyup)="onKeyUp($event)" [formField]="outfitMetadataForm.seasons.spring" season="spring"/>
      <fp-season-control class="season-checkbox" label="summer" (keyup)="onKeyUp($event)" [formField]="outfitMetadataForm.seasons.summer" season="summer"/>
      <fp-season-control class="season-checkbox" label="autumn" (keyup)="onKeyUp($event)" [formField]="outfitMetadataForm.seasons.autumn" season="autumn"/>
      <fp-season-control class="season-checkbox" label="winter" (keyup)="onKeyUp($event)" [formField]="outfitMetadataForm.seasons.winter" season="winter"/>
    </div>
  </fp-styled-form-fieldset>
  <fp-styled-form-fieldset legend="tasks" class="tag-cloud-fieldset">
    <input #addTagButton class="add-button beveled-button" type="button" (click)="addEmptyTag()" value="Add tag..."/>
    <div class="tag-cloud">
      @for (tag of outfitMetadataForm.tags; track tag) {
        <fp-outfit-tag-control
          class="tag"
          [formField]="tag.value"
          (deleteCalled)="removeTag($index)"
          (blurredWhenEmpty)="removeTag($index)"
          (editFinished)="handleTagEditFinished()"
        />
      }
    </div>
  </fp-styled-form-fieldset>
  <fp-styled-form-fieldset legend="colors" class="colors-fieldset">
    <div class="color-cloud">
      @for (color of outfitMetadataForm.colors; track color) {
        <fp-outfit-tag-control
          class="color-tag"
          [formField]="color.value"
          (deleteCalled)="removeColor($index)"
          (blurredWhenEmpty)="removeColor($index)"
          (editFinished)="handleColorEditFinished()"
        />
      }
      <input #addColorButton class="add-button beveled-button" type="button" (click)="addEmptyColor($event)" value="Add color..."/>
    </div>
  </fp-styled-form-fieldset>
  <fp-styled-form-fieldset class="modesty-fieldset" legend="mood">
    @for(moodValue of ["low", "medium", "high"]; track moodValue){
      <fp-mood-radio-control [field]="outfitMetadataForm.mood" [controlValue]="moodValue" [formField]="outfitMetadataForm.mood"/>
    }
  </fp-styled-form-fieldset>
  <fp-styled-form-fieldset legend="destination">
    @for(destination of outfitMetadataForm.outfitDestination; track $index){
      <fp-destination-control class="beveled-button" [formField]="destination[1]" [label]="destination[0]"/>
    }
  </fp-styled-form-fieldset>
  <input type="submit">
</form>
