<input class="input" id="season-checkbox-{{label()}}" type="checkbox" [checked]="checked()"/>
<label tabindex="0" [attr.data-season]="season()" [class.checked]="checked()" (click)="toggle()" (keydown)="toggle()" for="season-checkbox-{{label()}}">
  @if (season() === 'spring') {
    <fp-spring-flower-icon class="beveled-button-img"/>
  } @else if (season() === 'summer') {
<!--    <svg fp-summer-sun class="beveled-button-img"/>-->
    <fp-summer-sun-image-icon class="beveled-button-img icon"/>
  } @else if (season() === 'autumn'){
    <fp-autumn-pumpkin-icon class="beveled-button-img icon"/>
  } @else if (season() === 'winter'){
    <fp-snowflake-icon class="beveled-button-img icon"/>
  }
</label>
