@if(userStore.state()){
  <div class="username">Logged in as {{userStore.state()?.name}}</div>
} @else{
  <div>Logged out</div>
}
<main class="outfit-grid">
@for (outfit of outfits(); track $index) {
  <div class="outfit-container">
    <div class="seasons">
      @for (season of outfit.seasons; track season){
      @if (season === 'spring') {
        <fp-spring-flower-icon/>
      } @if (season === 'summer') {
        <fp-summer-sun-image-icon/>
      } @if (season === 'autumn') {
      <fp-autumn-pumpkin-icon/>
      } @if (season === 'winter') {
      <fp-snowflake-icon/>
      }
      }
    </div>
    <div
      (click)="openOutfitEditor(outfit.id)"
      (keydown)="openOutfitEditor(outfit.id)"
      tabindex="0"
      class="image-grid"
      [class.single-image-grid]="outfit.images.length === 1"
      [class.two-images-grid]="outfit.images.length === 2"
      [class.three-images-grid]="outfit.images.length === 3"
    >
      @for (image of outfit.images; let i = $index, c = $count; track image) {
        <div
          class="image-container"
          [class.first-item]="c === 3 && i === 0"
          [class.last-visible]="i === 3"
          [class.stacked-hidden]="i > 3"
        >
          @if (i === 3 && c > 4) {
            <div class="last-overlay">
              {{ c - i - 1 }}+
            </div>
          }
          <img
            class="image"
            srcset="{{image.small}} 225w, {{image.medium ?? image.small}} 450w, {{image.big ?? image.medium ?? image.small}} 900w"
            sizes="(width < 900px) 225px, (min-width: 900px) 450px, 900px"
            src="{{image.original}}"
            alt=""/>
        </div>
      }
    </div>
    <div class="tag-cloud">
      @for (tag of outfit.tags; track $index) {
        <fp-outfit-tag-control [value]="tag" [disabled]="true"/>
      }
    </div>
  </div>
}
</main>
