:host{
  --tag-color-bright: #9bf6f3;
  --tag-color: oklch(50% 50% 280deg / 1);
  --tag-shadow-color: #304d4c;

  position: relative;
  color: var(--tag-color);
  display: flex;
  flex-flow: row nowrap;
  height: 2rem;
  border-radius: 2rem;
  align-items: center;
  overflow: hidden;
  max-width: fit-content;
}
:host::before{
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--tag-color);
  mask-image: url("/screentones/big-dots-mask-300px.png");
  mask-size: 2rem;
}
:host:has(.tag-input:focus){
  background: none;
}

 :host:hover .actions-container{
   visibility: visible;
 }

.tag-input{
  position: relative;
  z-index: 100;
  padding: 0 0 0 1rem;
  min-width: 3rem;
  height: 100%;
  border: none;
  color: white;
  text-shadow: 0 0 0.3rem var(--tag-shadow-color);
  text-overflow: ellipsis;
  background: transparent;
  width: max-content;
}

.actions-container {
  z-index: 200;
  @media screen and (pointer: fine){
    visibility: hidden;
  }
  right: 0;
  width: 2rem;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.icon-container{
  aspect-ratio: 1;
  cursor: pointer;
}

.cancel-icon-container{
  color: white;
}

.tag-input:focus{
  outline: none;
  background-color: transparent;
}

.sizing-span{
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 0;
  padding: 0 0 0 1rem;
  margin: 0 0 0 1rem;
}
