<!--suppress AngularForBlockNonIterableVar -->
<div class="panel side-panel left-panel">
  <div class="left-panel-header"></div>
  @if (activeImage()) {
    <form class="metadata-form" (submit)="onSubmit($event)">
      <div class="form-block season-container">
        <label for="season">Season</label>
        <input id="season" [formField]="outfitMetadataForm.season"/>
      </div>
      <div class="form-block tag-cloud-container">
        <label for="tag-cloud">Tags</label>
        <button (click)="addTag($event)">Add tag...</button>
        <div id="tag-cloud" class="tag-cloud">
          @for (tag of outfitMetadataForm.tags; track tag) {
            <fp-outfit-tag [formField]="tag"/>
          }
        </div>
      </div>
      <div class="form-block colors-container">
        <label for="colors">Colors</label>
        <div id="colors">
          <button (click)="addColor($event)">Add color...</button>
          @for (color of outfitMetadataForm.colors; track color) {
            <input [formField]="color"/>
          }
        </div>
      </div>
      <input type="submit">
    </form>
  }
</div>
<div class="panel center-panel" [class.active-selected]="activeImage()">
  @if (!fileHandler.files().length) {
    <fp-drop-zone class="drop-zone" (files)="handleDataTransfer($event)"/>
  } @else {
    @if (activeImage()) {
      <div class="modal-container">
        <img class="focused-image" src="{{activeImage()?.fileUrl}}"/>
      </div>
    }
    <fp-image-album-grid-preview class="image-preview">
      @for (imageMetadata of imagesMetadata(); track imageMetadata.id) {
        <fp-preview-image
          [selected]="imageMetadata.id === activeImage()?.id"
          [imageUrl]="imageMetadata.fileUrl"
          (removeImage)="removeImage(imageMetadata.id)"
          (openImageDetails)="setActiveImage(imageMetadata)"
        />
      }
      <fp-drop-zone class="drop-card" (files)="handleDataTransfer($event)"/>
    </fp-image-album-grid-preview>
  }
</div>
<div class="panel side-panel right-panel"></div>
